# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Go modules
vendor/

# IDE/editor specific files
.idea/
.vscode/
*.swp

# Logs
*.log

# Dependency directories
vendor/

# Environment variables file
.env

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db